.two-column-container {
  display: flex; /* Use flexbox to create a horizontal layout */
  padding: 0px 13%;
}

.content-column {
  flex: 1; /* Make the content column take up available space */
  padding: 20px; /* Add some padding for spacing */
  background-color: #e5f4e3;
  display: flex; /* Use flexbox to center the content vertically */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
}

.content-column h1{
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding: 3px;
}

.content-column p{
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 3px;
}

.order-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a transition effect for background-color */
  margin: 10px;
}

.order-button:hover {
  background-color: #1a641e;
}

.image-column {
  flex: 1; /* Make the image column take up available space */
}

.banner-image {
  width: 90%;
  height: 550px;
  margin-top: 50px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for box-shadow */
  border-radius: 10px;
}

.banner-image:hover {
  transform: scale(0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); /* Add shadow effect on hover */
}
.headerContainer {
  color: white; /* Set text color to white */
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 0 13%;
}

.image-gallery img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

.location-container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}